<nav class="navbar">
  <ul>
    <li>
      <a href="/">Página inicial</a>
    </li>
    <li>
      <a href="/register">Cadastrar novo cliente</a>
    </li>
    <li>
      <a href="/list">Listar clientes</a>
    </li>
  </ul>
</nav>